@section Styles{
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />@*// w3root/lib/datatables/css/jquery.dataTables.css/jquery.dataTables.min.css 複製過來*@
    <style>
        thead{
            background-color:maroon;
            color:aliceblue;
        }
    </style>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>地區</td>
            <td>城市</td>
            <td>pm25</td>
            <td>偵測時間</td>
        </tr>
    </thead>
</table>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>@*w3root/lib/datatables/js/jquery.dataTables/jquery.dataTables.min 複製過來*@
    <script src="//cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.js"></script>@*須至https://cdn.datatables.net/fixedheader/3.4.0/複製*@
    <script>
        $(document).ready(function(){
            $("table").dataTable({
                ajax:{
                    type:"GET",
                    url: "https://data.epa.gov.tw/api/v2/aqx_p_02?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=JSON",
                    dataSrc: function (data) { return data["records"]; }
                },
                columns:[
                    { "data": "site", "width" : "25%" },
                    { "data": "county", "width": "25%" },
                    { "data": "pm25", "width": "25%" },
                    { "data": "datacreationdate", "width": "25%" },
                ],
                fixedHeader:{
                    header:true
                },
                language:{
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json'
                }
            });
        });
    </script>
}